version: "3.9"

services:
  db:
    image: postgres:16
    container_name: ph-meta-db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ~/ph-meta-db:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d:ro