html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.tag-selector .form-check-input {
    display: none;
}

.tag-selector .form-check-label {
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.6;
}

.tag-selector .form-check-label:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.tag-selector .form-check-input:checked + .form-check-label {
    opacity: 1;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.5);
    transform: scale(1.05);
}

.rotated-text {
    transform: rotate(-90deg);
    display: inline-block;
    transform-origin: center;
}

.vertical-text {
    writing-mode: vertical-lr;  
    text-orientation: upright;  
    height: 150px;
    vertical-align: bottom;  
}